@model IEnumerable<CommunityMessageViewModel>

<div>
	<h3>Message board</h3>
	@foreach (var msg in Model.OrderByDescending(x => x.CreateTimeStamp))
	{
		<div class="border-bottom border-secondary-subtle py-2">
			<p>
				<strong>@msg.CreatorUserName</strong> <span style="color: gray;">@msg.CreateTimeStamp.ToString("yyyy-MM-dd HH:mm")</span>
				@if (msg.LastUpdateTimeStamp != null)
				{
					<span class="text-secondary fst-italic ms-2" title="@msg.LastUpdateTimeStamp.Value.ToString("yyyy-MM-dd HH:mm")">
						Edited
					</span>
				}
			</p>
			<p>@msg.Message</p>
		</div>
	}
</div>
