@model IEnumerable<PropertyShortViewModel>

@foreach (var card in Model)
{
    <div class="bg-white border rounded-2 p-3 border-secondary-subtle">
        <p><strong>Property Type:</strong> @card.PropertyType.ToString()</p>
        <p><strong>Occupants:</strong> @card.Tenants</p>
        <p><strong>Total Dues:</strong> @card.Dues.ToString()</p>
        <p><strong>Monthly Dues:</strong> @card.MonthlyDue.ToString()</p>
    </div>
}
