@model AdminPanelViewModel

@{
    <h1>Initial Administrator Panel</h1>

    <a class="nav-link rounded bg-light shadow-sm text-dark mt-4" asp-area="" asp-controller="AdminPanel" asp-action="CreateCommunity">Create Community</a>

    <a class="nav-link rounded bg-light shadow-sm text-dark mt-4" asp-area="" asp-controller="AdminPanel" asp-action="CreateProperty">Create Property</a>

    <a class="nav-link rounded bg-light shadow-sm text-dark mt-4" asp-area="" asp-controller="AdminPanel" asp-action="CreateReferalCodes">Create Referral Codes</a>

    <a class="nav-link rounded bg-light shadow-sm text-dark mt-4" asp-area="" asp-controller="AdminPanel" asp-action="CreateAdminAccount">Create Administrator Account</a>

    <a class="nav-link rounded bg-light shadow-sm text-dark mt-4" asp-area="" asp-controller="AdminPanel" asp-action="DisableAccount">Disable an account</a>
}