@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div style="background-color: white">
    <h1 class="text-center my-5" style="font-family: 'Roboto', sans-serif; font-weight: 700;">Register</h1>

    <section class="vh-80">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>

                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <div class="card shadow-lg p-4 rounded">
                        <form asp-action="Register" asp-route-code="@ViewBag.RegisterCode" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-outline mb-3">
                                <input asp-for="Username" class="form-control form-control-lg" placeholder="Username" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>

                            <div class="form-outline mb-3">
                                <input asp-for="FirstName" class="form-control form-control-lg" placeholder="First Name" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>

                            <div class="form-outline mb-3">
                                <input asp-for="LastName" class="form-control form-control-lg" placeholder="Last Name" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>

                            <div class="form-outline mb-3">
                                <input asp-for="Email" class="form-control form-control-lg" placeholder="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-outline mb-3">
                                <input asp-for="Password" type="password" class="form-control form-control-lg" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-outline mb-3">
                                <input asp-for="ConfirmPassword" type="password" class="form-control form-control-lg" placeholder="Confirm Password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <input type="hidden" name="ReferalCode" value="@Model.ReferalCode" />

                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="submit" class="btn btn-primary btn-lg"
                                        style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                    Register
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
